<div class="container color_picker">
  <h3>Pick Your Favorite Color!</h3>

  <form class="favorite_color">
    <label>Blue: <input type="radio" name="color" value="blue"></label>
    <label>Red: <input type="radio" name="color" value="red"></label>
    <label>Green: <input type="radio" name="color" value="green"></label>
    <label>Yellow: <input type="radio" name="color" value="yellow"></label>
    <label>Teal: <input type="radio" name="color" value="teal"></label>
    <label>Pink: <input type="radio" name="color" value="pink"></label>
    <label>Grey: <input type="radio" name="color" value="grey"></label>
    <input type="submit" value="Choose Color">
  </form>
</div>